<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="./stlye.css">
  </head>
  <body>
    <!-- Header section -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-5">
                  <a href="#">  <img src="https://i.ibb.co/RptGqhc/ezgif-3-db99e0288d75.png" alt="ezgif-3-db99e0288d75" border="0"></a>
                </div>
                <div class="col-7">
                    <div class="main-menu">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Benner section -->
<div class="benner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>SIMPLE DUMMY TEXT OF <br><small>the printing and typesetting</small></h3>
                <a href="#" class="btn btn-dark  black">Start Now</a>
                <a href="#" class="btn btn-light  white">Contact</a>
            </div>
        </div>
    </div>
</div>

<!-- About section -->
<div class="abaot bg-info">
    <h1 class="text-center text-light">ABOUT ME</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ullam error illum et sint perferendis? Molestias suscipit inventore aspernatur quos, vitae quaerat odio rerum corporis deleniti. Aut nisi sunt cupiditate vero deserunt. Consectetur nam vero sed reprehenderit et suscipit error molestiae, quae, mollitia facilis nesciunt velit tempora, ad laboriosam exercitationem!</p>
            </div>
            <div class="col-6">
                <img src="https://i.ibb.co/ydBbRdG/jillur.jpg" alt="jillur" border="0">
            </div>
        </div>
    </div>
</div>

<!-- service section -->
    <div class="service">
    <div class="container">
        <h1 class="text-center text-light">What I Do</h1>
        <h3 class="text-center text-light">Beautiful. Clean.Responsive</h3>
        <p class="text-center text-light">REEN is high-quality solution for those who want a beautiful website in no tiem. It's fully responsive and will adapt itself to any mobile device. iPad b,iPhone,Android,it doesn't matter. Your content will always looks its absolute best.</p>
      <div class="row">
       <div class="col-4">
        <div class="row">
            <div class="col-4">
                <img src="https://i.ibb.co/1GQSKKx/PSD-To-HTML-Lab-Parctice-Reen.png" alt="PSD-To-HTML-Lab-Parctice-Reen" border="0">
            </div>
            <div class="col-8">
                <h1>Passion</h1>
                <p>Magnis modipsaae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaue quiae sitiorem rest non restibusaes</p>
            </div>
        </div>
       </div>
       <div class="col-4">
        <div class="row">
            <div class="col-4">
                <img src="https://i.ibb.co/QMMhmdW/2.png" alt="2" border="0">
            </div>
            <div class="col-8">
                <h1>Passion</h1>
                <p>Magnis modipsaae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaue quiae sitiorem rest non restibusaes</p>
            </div>
        </div>
       </div>
       <div class="col-4">
        <div class="row">
            <div class="col-4">
                <img src="https://i.ibb.co/VwXRrn3/3.png" alt="3" border="0">
            </div>
            <div class="col-8">
                <h1>Passion</h1>
                <p>Magnis modipsaae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaue quiae sitiorem rest non restibusaes</p>
            </div>
        </div>
       </div>
      </div>
    </div>
</div>
<!-- Work section -->
<div class="work-item">
    <div class="container">
        <h1 class="text-center text-light pt-4">Check out our latest works</h1>
        <p class="text-center text-light pt-4">Magnis modipsae que voloratati andigen daepeditem quiate re porem autlabor.</p>
        <div class="row">
            <div class="col-6">
                <img src="https://i.ibb.co/4f9JWQJ/21.jpg" alt="21" border="0">
                <p class="text-center text-light">Grand Motel gets an identity brushup <br><small>Identity</small></p>
            </div>
            <div class="col-6">
                <img src="https://i.ibb.co/k99tfKk/5.jpg" alt="5" border="0">
                <p class="text-center text-light">Fresh branding for a creative startup <br> <small>Identity</small></p>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                        <div class="col-3 ots"><img src="https://i.ibb.co/vqVTBKq/13.jpg" alt="13" border="0"></div>
                        <div class="col-3 ots"><img src="https://i.ibb.co/1b86mxR/16.jpg" alt="16" border="0"></div>
                        <div class="col-3 ots"><img src="https://i.ibb.co/VDZvn18/10.jpg" alt="10" border="0"></div>
                        <div class="col-3 ots"><img src="https://i.ibb.co/RzXSr8z/12.jpg" alt="12" border="0"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- work about -->
<div class="work-about">
    <div class="container">
        <h1 class="text-center text-light pt-5 pb-5">MY TEAMS MEMBERS</h1>
        <div class="row">
            <div class="col-4"><img src="https://i.ibb.co/LrWckMn/t1.jpg" alt="t1" border="0">
                <ul>
                    <li><span><a href="#"><i class="fab fa-facebook"></i></a></span></li>
                    <li><span><a href="#"><i class="fab fa-twitter"></i></a></span></li>
                    <li><span><a href="#"><i class="fa-solid fa-envelope"></i></a></span></li>
                </ul>
            </div>
            <div class="col-4"><img src="https://i.ibb.co/LrWckMn/t1.jpg" alt="t1" border="0">
                <ul>
                    <li><span><a href="#"><i class="fab fa-facebook"></i></a></span></li>
                    <li><span><a href="#"><i class="fab fa-twitter"></i></a></span></li>
                    <li><span><a href="#"><i class="fa-solid fa-envelope"></i></a></span></li>
                </ul>
            </div>
            <div class="col-4"><img src="https://i.ibb.co/LrWckMn/t1.jpg" alt="t1" border="0">
                <ul>
                    <li><span><a href="#"><i class="fab fa-facebook"></i></a></span></li>
                    <li><span><a href="#"><i class="fab fa-twitter"></i></a></span></li>
                    <li><span><a href="#"><i class="fa-solid fa-envelope"></i></a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- with us -->
<div class="with-us">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center pt-4 text-light">Want to work with us?</h1>
                <p class="text-center text-light ">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut laor. <br>Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
                <a href="#" class="btn text-light">GET IN TOUCH</a>
            </div>
        </div>
    </div>
</div>


<!-- Footer section -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-light text-center p-4">Copyright &copy;2021 Inc.All rights reserved.</p>
            </div>
        </div>
    </div>
</div>




  </body>
</html>